.version._____1 /* version checker */
{
	color: #000004;
	background-color: #C16A63;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -14px;
	margin-bottom: -13px;
	width: 100%;
}

#u435
{
	z-index: 2;
	background: #6789FF url("../images/u435-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#7F7F7F),color-stop(100%, #6789FF));
	background: -webkit-linear-gradient(top,#7F7F7F ,#6789FF 1024px);
	background: linear-gradient(to bottom,#7F7F7F ,#6789FF 1024px);
	border-width: 0px;
	border-color: transparent;
	padding-bottom: 74px;
	position: relative;
	width: 102.3%;
	left: -1.25%;
}

#u438
{
	z-index: 3;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	width: 28.82%;
	left: 35.04%;
}

#u438_img
{
	width: 100%;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 320px;
}

